
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
@import url('./gallery.css');


.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  
  
  color: transparent; 
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
    opacity: 0; 
    transition: opacity 0.3s;
}
.loader.visible {
    opacity: 1; 
}